In [1]:
import pandas as pd

In [5]:
df_ibge_fem = pd.read_csv('./raw_data/ibge_fem_10000.csv')
df_ibge_mas = pd.read_csv('./raw_data/ibge_mas_10000.csv')

In [12]:
df_ibge = pd.concat([df_ibge_fem, df_ibge_mas], ignore_index=True)
df_ibge = df_ibge.sample(frac=1).reset_index(drop=True)
df_ibge = df_ibge[['nome', 'rank', 'sexo']]
df_ibge.columns = ['person_name', 'total', 'gender']
display(df_ibge.head())

  person_name  total gender
0      JOISSE   3358      F
1         ECI   8196      F
2      INALDO    788      M
3    FAUSTINO   1240      M
4     WILHIAM   4265      M

In [13]:
df_ibge.to_csv('./treated_data/ibge_training_data.csv', index=False)